/* Not sure this can be done with sx and react-transition-group 🤔  */
.FadeIn__list.enter {
  opacity: 0;
  transform: translateX(100px);
}

.FadeIn__list.enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.3s ease-out;
}
